:root {
    --gradient: linear-gradient(90deg, #367ff5, #a274f2, #ee5fd9);
    --text: #333;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
  
/* Estilos a la barra de navegación */

.nav {
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
  
.logo {
    font-size: 2rem;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo a {
    text-decoration: none;
}
  
.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list a {
    color: #555;
    font-size: 1.4rem;
    text-decoration: none;
    position: relative;
}
  
.nav-list a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--gradient);
    transition: 0.3s;
}
  
.nav-list a:hover::after {
    width: 100%;
}
  
/* Estilos a la sección hero */

.hero {
    height: 90vh;
    padding: 3rem 5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
  
/* left */

.hero-content {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
  
.badge {
    color: #9356e9;
    font-size: 1.2rem;
    width: fit-content;
    font-weight: 800;
    padding: .7rem 1rem;
    border-radius: 20px;
    background: rgba(164, 86, 233, 0.118);
}

.title {
    font-size: 6rem;
}
  
.title span {
    display: block;
}
  
.gradient {
    background: linear-gradient(90deg, #7e4ad8, #e95fd4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.text {
    color: #666;
    max-width: 400px;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.actions {
    display: flex;
    gap: 1rem;
}
  
.btn {
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.primary {
    color: white;
    background: linear-gradient(90deg,rgba(63, 94, 251, 1) 0%, rgb(252, 70, 161) 100%);
}
  
.secondary {
    color: #333;
    border: 1px solid #aaa;
}
  
/* right */

.hero-visual {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.visual-container {
    width: 300px;
    height: 300px;
    position: relative;
}
  
.visual-container::before,
.visual-container::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(80px);
    z-index: -1;
}
  
.visual-container::before {
    top: -40px;
    left: -40px;
    background: #4e8bef;
}
  
.visual-container::after {
    right: -40px;
    bottom: -40px;
    background: #dd66cb;
}
  
.card {
    font-size: 1.4rem;
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
  
.c1 { 
    top: 10%; 
    left: 10%;
}

.c2 { 
    top: 25%; 
    right: -20%;
}

.c3 { 
    bottom: 20%; 
    left: 10%; 
}

.c4 { 
    bottom: 5%;
    right: -10%; 
}

/* Estilos sección categorias */

.categories {
    padding: 4rem;
}

/* header */

.section-header {
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.section-tag {
    display: inline-block;
    color: #fff;
    font-weight: 550;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    border-radius: 15px;
    background: linear-gradient(90deg,rgba(63, 94, 251, 1) 0%, rgb(252, 70, 161) 100%);

}

.section-title {
    font-size: 4rem;
}

/* grid */

.categories-grid {
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
}

.category-card {
    display: block;
    cursor: pointer;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    background: #eeeeee88;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-icon {
    padding: 1rem;
    font-size: 4rem;
}

.category-card h3 {
    color: #000;
    padding: .5rem;
    font-size: 2rem;
}

.category-card p {
    color: #555;
    padding: .5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.category-arrow {
    display: inline-block;
    font-size: 1.5rem;
    background: #fff;
    border-radius: 100%;
    font-weight: bolder;
    padding: .5rem .7rem;
    transition: transform 0.2s ease;
}

.category-card:hover {
    background: #e4dcdc33;
    transform: translateY(-5px);
    box-shadow: 0px 3px 15px #0000003f;
} 

.category-card:hover .category-arrow {
    color: #fff;
    background: #7e4ad8;
    transform: translateX(5px);
}

/* Estilos a los productos */

.products {
    padding: 3rem;
}

.products-filters {
    margin: 3rem 0;
    text-align: center;
}

.filter-btn {
    outline: none;
    cursor: pointer;
    background: #fff;
    margin-right: 1rem;
    padding: .8rem 2rem;
    border-radius: 50px;
    border: 1px solid #999;
}

.filter-btn.active {
    color: #fff;
    background: rgb(87, 65, 235);
}

/* Cards */

.products-grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.product-card {
    height: 350px;
    border-radius: 10px;
    background: #eeeeeeae;
}

.product-image {
    width: 100%;
    height: 50%;
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-badges {
    position: absolute;
    top: 12px;
    left: 12px;
}

.product-badge {
    color: #fff;
    font-size: 1rem;
    border-radius: 15px;
    padding: .3rem .8rem;
    background: rgb(244, 109, 179);
}

/* Por ahora no tocar  */

.product-actions {
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
}

.product-action-btn {
    background: none;
    border: none;
}

/* ... */

.product-info {
    width: 100%;
    height: 50%;
    padding: 1rem;
}

.product-category {
    color: #555;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.product-name {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.product-price {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.price-current {
    font-weight: 900;
    font-size: 1.4rem;
    color: rgb(87, 65, 235);
}

.price-old {
    color: #888;
    font-size: 1.2rem;
    text-decoration: line-through;
}

.product-add {
    width: 100%;
    color: #fff;
    padding: 1rem;
    border: none;
    outline: none;
    background: #000;
    text-align: center;
    border-radius: 12px;
}

/* 
.hidden {
    display: none;
} 
*/